#cont-sugar {
    /*background: #ffcde1;*/
    margin: 0 auto 20px auto;
    max-width: 1000px;
}

#cont-ingrid {
    /*background: #acdaff;*/
    padding: 10px;
}

#cont-pie {
    /*background: #deffac;*/
    padding: 10px;
}
